<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Board">
        <div class="detailBoard">
            <h1>Welcome to: {{className}} </h1>
        </div>
    </mat-tab>
    <mat-tab label="Students" *ngIf="isATeacher">
        <div class="detailPeopleBtn">
            <button mat-flat-button color="primary" (click)="openDialog()">
                Add student
                <mat-icon aria-hidden="false">person_add</mat-icon>

            </button>
        </div>
        <table mat-table [dataSource]="listOFStudents" class="mat-elevation-z8">
          
            <ng-container matColumnDef="studentId">
              <th mat-header-cell *matHeaderCellDef>Student Id </th>
              <td mat-cell *matCellDef="let element"> {{element.studentId}} </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
    </mat-tab>
  </mat-tab-group>
  