<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Users management">
        <div class="Btnbox">
            <button mat-flat-button color="primary">Create User</button>
        </div>
        <div class="usersListTab">

            <h2>Teachers</h2><hr>
            <div class="usersList">
                <app-teacher-list-item *ngFor="let teacher of teachers" [data]="teacher"></app-teacher-list-item>
            </div>

            <h2>Students</h2><hr>
            <div class="usersList">
                <app-student-list-item *ngFor="let student of students" [data]="student"></app-student-list-item>
                
            </div>
            
        </div>
    </mat-tab>
    <mat-tab label="Classes management">
        Content 2
    </mat-tab>
  </mat-tab-group>
  