<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Users management">
        <div class="Btnbox">
            <button routerLink="user" mat-flat-button color="primary">Create user</button>
        </div>
        <div class="usersListTab">

            <h2>Teachers</h2><hr>
            <div class="usersList">
                <app-teacher-list-item *ngFor="let teacher of teachers" [data]="teacher"></app-teacher-list-item>
            </div>

            <h2>Students</h2><hr>
            <div class="usersList">
                <app-student-list-item *ngFor="let student of students" [data]="student"></app-student-list-item>
                
            </div>
            
        </div>
    </mat-tab>
    <mat-tab label="Classes management">
        <div class="Btnbox">
            <button routerLink="user" mat-flat-button color="primary">Create class</button>
        </div>
        <div class="usersListTab">.

        <h2>Classes</h2><hr> 
            <div class="usersList">
                <app-class-list-item *ngFor="let class of classes" [data]="class"></app-class-list-item>
                
            </div>
        </div>
    </mat-tab>
  </mat-tab-group>
  